<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.genmanner.partygm.core.framework.domain.SysConf">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true"/>

	<resultMap id="BaseResultMap" type="com.genmanner.partygm.core.framework.domain.SysConf">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="VARCHAR" />
		<result column="description" property="desc" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		t.id as id, 
		t.value as value, 
		t.description as description
	</sql>
	
	<sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
				<if test="id != null"> and t.id = #{id}</if>
				<if test="value != null">and t.value = #{value}</if>
				<if test="desc != null">and t.description = #{desc}</if>
			</trim>
		</where>
		<if test="sorting != null">order by ${sorting}</if>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</sql>
	
	<!-- 查询总数 -->
	<select id="countByExample" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(id)
		from framework_sysconf t
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 查询 -->
	<select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
			<include refid="Base_Column_List" />
		from framework_sysconf t
		<include refid="Base_Where_Clause" />
	</select>
</mapper>